In [1]:
! pip install numpy

In [2]:
! pip install pandas

In [3]:
! pip install matplotlib

In [4]:
! pip install scikit-learn

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [6]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
display(train)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67633,18235,4,OAKLAND GARDENS,01 ONE FAMILY DWELLINGS,1,7601,44,,A2,61-25 211TH STREET,...,1,0,1,5000,1414,1950,1,A2,1100000,2017-05-23 00:00:00
67634,18236,4,OAKLAND GARDENS,01 ONE FAMILY DWELLINGS,1,7601,51,,A1,61-11 211TH STREET,...,1,0,1,4000,2280,1955,1,A1,858000,2017-01-10 00:00:00
67635,18237,4,OAKLAND GARDENS,01 ONE FAMILY DWELLINGS,1,7602,10,,A2,61-12 213TH STREET,...,1,0,1,8000,2325,1945,1,A2,980000,2016-12-29 00:00:00
67636,18238,4,OAKLAND GARDENS,01 ONE FAMILY DWELLINGS,1,7604,40,,A1,61-35 214 STREET,...,1,0,1,5000,1359,1955,1,A1,-,2017-08-29 00:00:00
67637,18239,4,OAKLAND GARDENS,01 ONE FAMILY DWELLINGS,1,7609,14,,A1,61-20 220TH STREET,...,1,0,1,3442,1584,1925,1,A1,-,2017-06-13 00:00:00

In [22]:
header = pd.read_csv('data/nyc-rolling-sales.csv', index_col=0, nrows=0).columns
feature = header.drop(['SALE PRICE', 'SALE DATE', 'EASE-MENT'])
target = ['SALE PRICE']

In [23]:
X = train[feature]
Y = train[target]
xtest = test[feature]
ytest = test[target]

In [24]:
print(X)

       BOROUGH     NEIGHBORHOOD                      BUILDING CLASS CATEGORY  \
0            1    ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
1            1    ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
2            1    ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
3            1    ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
4            1    ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
...        ...              ...                                          ...
67633        4  OAKLAND GARDENS  01 ONE FAMILY DWELLINGS
67634        4  OAKLAND GARDENS  01 ONE FAMILY DWELLINGS
67635        4  OAKLAND GARDENS  01 ONE FAMILY DWELLINGS
67636        4  OAKLAND GARDENS  01 ONE FAMILY DWELLINGS
67637        4  OAKLAND GARDENS  01 ONE FAMILY DWELLINGS

      TAX CLASS AT PRESENT  BLOCK  LOT BUILDING CLASS AT PRESENT  \
0                       2A    392    6                        C2
1                        2    399   26                        C7
2                        2    399   39                        C7
3                       2B    402   21                        C4
4                       2A    404   55                        C2
...                    ...    ...  ...                       ...
67633                    1   7601   44                        A2
67634                    1   7601   51                        A1
67635                    1   7602   10                        A2
67636                    1   7604   40                        A1
67637                    1   7609   14                        A1

                      ADDRESS APARTMENT NUMBER  ZIP CODE  RESIDENTIAL UNITS  \
0                153 AVENUE B                      10009                  5
1       234 EAST 4TH   STREET                      10009                 28
2       197 EAST 3RD   STREET                      10009                 16
3         154 EAST 7TH STREET                      10009                 10
4      301 EAST 10TH   STREET                      10009                  6
...                       ...              ...       ...                ...
67633    61-25 211TH   STREET                      11364                  1
67634      61-11 211TH STREET                      11364                  1
67635    61-12 213TH   STREET                      11364                  1
67636        61-35 214 STREET                      11364                  1
67637    61-20 220TH   STREET                      11364                  1

       COMMERCIAL UNITS  TOTAL UNITS LAND SQUARE FEET GROSS SQUARE FEET  \
0                     0            5             1633              6440
1                     3           31             4616             18690
2                     1           17             2212              7803
3                     0           10             2272              6794
4                     0            6             2369              4615
...                 ...          ...              ...               ...
67633                 0            1             5000              1414
67634                 0            1             4000              2280
67635                 0            1             8000              2325
67636                 0            1             5000              1359
67637                 0            1             3442              1584

       YEAR BUILT  TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE
0            1900                          2                             C2
1            1900                          2                             C7
2            1900                          2                             C7
3            1913                          2                             C4
4            1900                          2                             C2
...           ...                        ...                            ...
67633        1950                          1                             A2
67634        1955                          1                             A1
67635        1945                          1                             A2
67636        1955                          1                             A1
67637        1925                          1                             A1

[67638 rows x 18 columns]

In [25]:
print(Y)

      SALE PRICE
0        6625000
1            -
2            -
3        3936272
4        8000000
...          ...
67633    1100000
67634     858000
67635     980000
67636        -
67637        -

[67638 rows x 1 columns]

In [43]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

label = LabelEncoder()

encodelist = ['NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER','BUILDING CLASS AT TIME OF SALE']

for i in encodelist:
    X[i] = label.fit_transform(X[i])
    xtest[i] = label.fit_transform(xtest[i])

C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[i] = label.fit_transform(X[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xtest[i] = label.fit_transform(xtest[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[i] = label.fit_transform(X[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xtest[i] = label.fit_transform(xtest[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[i] = label.fit_transform(X[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xtest[i] = label.fit_transform(xtest[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[i] = label.fit_transform(X[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xtest[i] = label.fit_transform(xtest[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[i] = label.fit_transform(X[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xtest[i] = label.fit_transform(xtest[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[i] = label.fit_transform(X[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xtest[i] = label.fit_transform(xtest[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[i] = label.fit_transform(X[i])
C:\Users\user\AppData\Local\Temp\ipykernel_22064\12070599.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xtest[i] = label.fit_transform(xtest[i])

In [27]:
xtrain, xvalidate, ytrain,yvalidate = train_test_split(X, Y, test_size=0.2, random_state=42)

In [28]:
print(xtrain)

       BOROUGH  NEIGHBORHOOD  BUILDING CLASS CATEGORY  TAX CLASS AT PRESENT  \
24349        2           160                        1                     1
35789        3            52                       13                     5
61176        4            77                        0                     1
20160        2            74                        1                     1
31783        3            27                        2                     1
...        ...           ...                      ...                   ...
37194        3            64                        0                     1
6265         1            99                        9                     5
54886        4            59                        2                     1
860          1            32                       17                     5
15795        1           165                       13                     5

       BLOCK   LOT  BUILDING CLASS AT PRESENT  ADDRESS  APARTMENT NUMBER  \
24349   5590    29                         10    24640                 0
35789   2049  1027                        120    13807              1885
61176   7181    72                          2    45174                 0
20160   3144     8                         11    17959                 0
31783   3403    49                         14     2939                 0
...      ...   ...                        ...      ...               ...
37194   5096    46                          2     4478                 0
6265    2250    84                         28    40495                 0
54886   1495    25                         14    33939                 0
860      721  1008                        125    37014                 0
15795   1142  1181                        120    10744              1683

       ZIP CODE  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  \
24349     10465                  2                 0            2
35789     11201                  1                 0            1
61176     11366                  1                 0            1
20160     10457                  2                 0            2
31783     11207                  3                 0            3
...         ...                ...               ...          ...
37194     11226                  1                 0            1
6265      10034                  0                 0            0
54886     11373                  3                 0            3
860       10011                  0                 0            0
15795     10023                  1                 0            1

      LAND SQUARE FEET GROSS SQUARE FEET  YEAR BUILT  \
24349             2500              2400        1930
35789                0                 0        1926
61176             4000              1600        1935
20160             1658              2084        1901
31783             2000              3000        1920
...                ...               ...         ...
37194             7000              4947        1920
6265               -                 -          1966
54886             2000              3360        1925
860                -                 -          1932
15795              -                 -             0

       TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE
24349                          1                               9
35789                          2                             119
61176                          1                               1
20160                          1                              10
31783                          1                              13
...                          ...                             ...
37194                          1                               1
6265                           2                              27
54886                          1                              13
860                            2                             124
15795                          2                             119

[54110 rows x 18 columns]

In [29]:
# xtrain.drop(xtrain.iloc[:0])
print(xtrain)

       BOROUGH  NEIGHBORHOOD  BUILDING CLASS CATEGORY  TAX CLASS AT PRESENT  \
24349        2           160                        1                     1
35789        3            52                       13                     5
61176        4            77                        0                     1
20160        2            74                        1                     1
31783        3            27                        2                     1
...        ...           ...                      ...                   ...
37194        3            64                        0                     1
6265         1            99                        9                     5
54886        4            59                        2                     1
860          1            32                       17                     5
15795        1           165                       13                     5

       BLOCK   LOT  BUILDING CLASS AT PRESENT  ADDRESS  APARTMENT NUMBER  \
24349   5590    29                         10    24640                 0
35789   2049  1027                        120    13807              1885
61176   7181    72                          2    45174                 0
20160   3144     8                         11    17959                 0
31783   3403    49                         14     2939                 0
...      ...   ...                        ...      ...               ...
37194   5096    46                          2     4478                 0
6265    2250    84                         28    40495                 0
54886   1495    25                         14    33939                 0
860      721  1008                        125    37014                 0
15795   1142  1181                        120    10744              1683

       ZIP CODE  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  \
24349     10465                  2                 0            2
35789     11201                  1                 0            1
61176     11366                  1                 0            1
20160     10457                  2                 0            2
31783     11207                  3                 0            3
...         ...                ...               ...          ...
37194     11226                  1                 0            1
6265      10034                  0                 0            0
54886     11373                  3                 0            3
860       10011                  0                 0            0
15795     10023                  1                 0            1

      LAND SQUARE FEET GROSS SQUARE FEET  YEAR BUILT  \
24349             2500              2400        1930
35789                0                 0        1926
61176             4000              1600        1935
20160             1658              2084        1901
31783             2000              3000        1920
...                ...               ...         ...
37194             7000              4947        1920
6265               -                 -          1966
54886             2000              3360        1925
860                -                 -          1932
15795              -                 -             0

       TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE
24349                          1                               9
35789                          2                             119
61176                          1                               1
20160                          1                              10
31783                          1                              13
...                          ...                             ...
37194                          1                               1
6265                           2                              27
54886                          1                              13
860                            2                             124
15795                          2                             119

[54110 rows x 18 columns]

In [44]:
scaler = StandardScaler()

# xtrain = xtrain.drop(index=0) 
xtrain['LAND SQUARE FEET'] = xtrain['LAND SQUARE FEET'].replace('-', np.nan)
xtrain['GROSS SQUARE FEET'] = xtrain['GROSS SQUARE FEET'].replace('-', np.nan)

xvalidate['LAND SQUARE FEET'] = xvalidate['LAND SQUARE FEET'].replace('-', np.nan)
xvalidate['GROSS SQUARE FEET'] = xvalidate['GROSS SQUARE FEET'].replace('-', np.nan)

xtest['LAND SQUARE FEET'] = xtest['LAND SQUARE FEET'].replace('-', np.nan)
xtest['GROSS SQUARE FEET'] = xtest['GROSS SQUARE FEET'].replace('-', np.nan)

xtrain['LAND SQUARE FEET'] = pd.to_numeric(xtrain['LAND SQUARE FEET'], errors='coerce')
xtrain['GROSS SQUARE FEET'] = pd.to_numeric(xtrain['GROSS SQUARE FEET'], errors='coerce')

xvalidate['LAND SQUARE FEET'] = pd.to_numeric(xvalidate['LAND SQUARE FEET'], errors='coerce')
xvalidate['GROSS SQUARE FEET'] = pd.to_numeric(xvalidate['GROSS SQUARE FEET'], errors='coerce')

xtest['LAND SQUARE FEET'] = pd.to_numeric(xtest['LAND SQUARE FEET'], errors='coerce')
xtest['GROSS SQUARE FEET'] = pd.to_numeric(xtest['GROSS SQUARE FEET'], errors='coerce')
# print(xtrain.iloc[1:])
print(xtrain.dtypes)

BOROUGH                             int64
NEIGHBORHOOD                        int64
BUILDING CLASS CATEGORY             int64
TAX CLASS AT PRESENT                int64
BLOCK                               int64
LOT                                 int64
BUILDING CLASS AT PRESENT           int64
ADDRESS                             int64
APARTMENT NUMBER                    int64
ZIP CODE                            int64
RESIDENTIAL UNITS                   int64
COMMERCIAL UNITS                    int64
TOTAL UNITS                         int64
LAND SQUARE FEET                  float64
GROSS SQUARE FEET                 float64
YEAR BUILT                          int64
TAX CLASS AT TIME OF SALE           int64
BUILDING CLASS AT TIME OF SALE      int64
dtype: object

C:\Users\user\AppData\Local\Temp\ipykernel_22064\3762584703.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xtest['LAND SQUARE FEET'] = xtest['LAND SQUARE FEET'].replace('-', np.nan)
C:\Users\user\AppData\Local\Temp\ipykernel_22064\3762584703.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xtest['GROSS SQUARE FEET'] = xtest['GROSS SQUARE FEET'].replace('-', np.nan)
C:\Users\user\AppData\Local\Temp\ipykernel_22064\3762584703.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xtest['LAND SQUARE FEET'] = pd.to_numeric(xtest['LAND SQUARE FEET'], errors='coerce')
C:\Users\user\AppData\Local\Temp\ipykernel_22064\3762584703.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xtest['GROSS SQUARE FEET'] = pd.to_numeric(xtest['GROSS SQUARE FEET'], errors='coerce')

In [46]:
xtrain_reshape = scaler.fit_transform(xtrain)
xvalidate_reshape = scaler.transform(xvalidate)
xtest_reshape = scaler.fit_transform(xtest)

In [47]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [ ]:
model = LinearRegression()

model.fit(xtrain_reshape, ytrain)