In [1]:
! pip install numpy

In [2]:
! pip install pandas

In [3]:
! pip install matplotlib

In [4]:
! pip install scikit-learn

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [6]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
display(train)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,8409,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,...,2,0,2,2400,2575,1998,1,B9,450000,2016-11-28 00:00:00
84544,8410,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,...,2,0,2,2498,2377,1998,1,B9,550000,2017-04-21 00:00:00
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

In [7]:
header = pd.read_csv('data/nyc-rolling-sales.csv', index_col=0, nrows=0).columns
feature = header.drop(['SALE PRICE', 'SALE DATE'])
target = ['SALE PRICE']

In [8]:
X = train[feature]
Y = train[target]
xtest = test[feature]
ytest = test[target]

In [10]:
print(X)

       BOROUGH   NEIGHBORHOOD                      BUILDING CLASS CATEGORY  \
0            1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
1            1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
2            1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
3            1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
4            1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
...        ...            ...                                          ...
84543        5        WOODROW  02 TWO FAMILY DWELLINGS
84544        5        WOODROW  02 TWO FAMILY DWELLINGS
84545        5        WOODROW  02 TWO FAMILY DWELLINGS
84546        5        WOODROW  22 STORE BUILDINGS
84547        5        WOODROW  35 INDOOR PUBLIC AND CULTURAL FACILITIES

      TAX CLASS AT PRESENT  BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT  \
0                       2A    392    6                                  C2
1                        2    399   26                                  C7
2                        2    399   39                                  C7
3                       2B    402   21                                  C4
4                       2A    404   55                                  C2
...                    ...    ...  ...       ...                       ...
84543                    1   7349   34                                  B9
84544                    1   7349   78                                  B9
84545                    1   7351   60                                  B2
84546                    4   7100   28                                  K6
84547                    4   7105  679                                  P9

                      ADDRESS APARTMENT NUMBER  ZIP CODE  RESIDENTIAL UNITS  \
0                153 AVENUE B                      10009                  5
1       234 EAST 4TH   STREET                      10009                 28
2       197 EAST 3RD   STREET                      10009                 16
3         154 EAST 7TH STREET                      10009                 10
4      301 EAST 10TH   STREET                      10009                  6
...                       ...              ...       ...                ...
84543           37 QUAIL LANE                      10309                  2
84544        32 PHEASANT LANE                      10309                  2
84545        49 PITNEY AVENUE                      10309                  2
84546   2730 ARTHUR KILL ROAD                      10309                  0
84547       155 CLAY PIT ROAD                      10309                  0

       COMMERCIAL UNITS  TOTAL UNITS LAND SQUARE FEET GROSS SQUARE FEET  \
0                     0            5             1633              6440
1                     3           31             4616             18690
2                     1           17             2212              7803
3                     0           10             2272              6794
4                     0            6             2369              4615
...                 ...          ...              ...               ...
84543                 0            2             2400              2575
84544                 0            2             2498              2377
84545                 0            2             4000              1496
84546                 7            7           208033             64117
84547                 1            1            10796              2400

       YEAR BUILT  TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE
0            1900                          2                             C2
1            1900                          2                             C7
2            1900                          2                             C7
3            1913                          2                             C4
4            1900                          2                             C2
...           ...                        ...                            ...
84543        1998                          1                             B9
84544        1998                          1                             B9
84545        1925                          1                             B2
84546        2001                          4                             K6
84547        2006                          4                             P9

[84548 rows x 19 columns]
      SALE PRICE
0        6625000
1            -
2            -
3        3936272
4        8000000
...          ...
84543     450000
84544     550000
84545     460000
84546   11693337
84547      69300

[84548 rows x 1 columns]

In [11]:
print(Y)

      SALE PRICE
0        6625000
1            -
2            -
3        3936272
4        8000000
...          ...
84543     450000
84544     550000
84545     460000
84546   11693337
84547      69300

[84548 rows x 1 columns]

In [12]:
xtrain, xvalidate, ytrain,yvalidate = train_test_split(X, Y, test_size=0.2, random_state=42)