In [2]:
! pip install numpy
! pip install pandas
! pip install Scikit-learn
! pip install matplotlib

Requirement already satisfied: numpy in .\env\lib\site-packages (2.1.0)
Requirement already satisfied: pandas in .\env\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in .\env\lib\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in .\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in .\env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in .\env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in .\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: Scikit-learn in .\env\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in .\env\lib\site-packages (from Scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=1.6.0 in .\env\lib\site-packages (from Scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in .\env\lib\site-packages (from Scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in .\env\lib\site-packages (from Scikit-learn) (3.5.0)
Requirement already satisfied: matplotlib in .\env\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in .\env\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in .\env\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in .\env\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in .\env\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in .\env\lib\site-packages (from matplotlib) (2.1.0)
Requirement already satisfied: packaging>=20.0 in .\env\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in .\env\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in .\env\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in .\env\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in .\env\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_diabetes
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_squared_error

In [12]:
diabetes = load_diabetes(scaled=False)
dataset = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
dataset['target'] = diabetes.target

display(dataset)

      age  sex   bmi      bp     s1     s2    s3    s4      s5     s6  target
0    59.0  2.0  32.1  101.00  157.0   93.2  38.0  4.00  4.8598   87.0   151.0
1    48.0  1.0  21.6   87.00  183.0  103.2  70.0  3.00  3.8918   69.0    75.0
2    72.0  2.0  30.5   93.00  156.0   93.6  41.0  4.00  4.6728   85.0   141.0
3    24.0  1.0  25.3   84.00  198.0  131.4  40.0  5.00  4.8903   89.0   206.0
4    50.0  1.0  23.0  101.00  192.0  125.4  52.0  4.00  4.2905   80.0   135.0
..    ...  ...   ...     ...    ...    ...   ...   ...     ...    ...     ...
437  60.0  2.0  28.2  112.00  185.0  113.8  42.0  4.00  4.9836   93.0   178.0
438  47.0  2.0  24.9   75.00  225.0  166.0  42.0  5.00  4.4427  102.0   104.0
439  60.0  2.0  24.9   99.67  162.0  106.6  43.0  3.77  4.1271   95.0   132.0
440  36.0  1.0  30.0   95.00  201.0  125.2  42.0  4.79  5.1299   85.0   220.0
441  36.0  1.0  19.6   71.00  250.0  133.2  97.0  3.00  4.5951   92.0    57.0

[442 rows x 11 columns]

In [13]:
x = dataset.drop(['target'], axis=1)
y = dataset['target']

display(x)
display(y)

      age  sex   bmi      bp     s1     s2    s3    s4      s5     s6
0    59.0  2.0  32.1  101.00  157.0   93.2  38.0  4.00  4.8598   87.0
1    48.0  1.0  21.6   87.00  183.0  103.2  70.0  3.00  3.8918   69.0
2    72.0  2.0  30.5   93.00  156.0   93.6  41.0  4.00  4.6728   85.0
3    24.0  1.0  25.3   84.00  198.0  131.4  40.0  5.00  4.8903   89.0
4    50.0  1.0  23.0  101.00  192.0  125.4  52.0  4.00  4.2905   80.0
..    ...  ...   ...     ...    ...    ...   ...   ...     ...    ...
437  60.0  2.0  28.2  112.00  185.0  113.8  42.0  4.00  4.9836   93.0
438  47.0  2.0  24.9   75.00  225.0  166.0  42.0  5.00  4.4427  102.0
439  60.0  2.0  24.9   99.67  162.0  106.6  43.0  3.77  4.1271   95.0
440  36.0  1.0  30.0   95.00  201.0  125.2  42.0  4.79  5.1299   85.0
441  36.0  1.0  19.6   71.00  250.0  133.2  97.0  3.00  4.5951   92.0

[442 rows x 10 columns]

0      151.0
1       75.0
2      141.0
3      206.0
4      135.0
       ...
437    178.0
438    104.0
439    132.0
440    220.0
441     57.0
Name: target, Length: 442, dtype: float64

In [14]:
xtrain, xvalidate, ytrain, yvalidate = train_test_split(x, y, test_size=0.2, random_state=42)

scaler = StandardScaler()

xtrain_reshape = scaler.fit_transform(xtrain)
xvalidate_reshape = scaler.transform(xvalidate)

model = LinearRegression()

model.fit(xtrain_reshape, ytrain)

prediction = model.predict(xvalidate_reshape)

print(prediction)
print(yvalidate)

print(mean_squared_error(yvalidate,prediction))

print(r2_score(yvalidate,prediction))

[139.5475584  179.51720835 134.03875572 291.41702925 123.78965872
  92.1723465  258.23238899 181.33732057  90.22411311 108.63375858
  94.13865744 168.43486358  53.5047888  206.63081659 100.12925869
 130.66657085 219.53071499 250.7803234  196.3688346  218.57511815
 207.35050182  88.48340941  70.43285917 188.95914235 154.8868162
 159.36170122 188.31263363 180.39094033  47.99046561 108.97453871
 174.77897633  86.36406656 132.95761215 184.53819483 173.83220911
 190.35858492 124.4156176  119.65110656 147.95168682  59.05405241
  71.62331856 107.68284704 165.45365458 155.00975931 171.04799096
  61.45761356  71.66672581 114.96732206  51.57975523 167.57599528
 152.52291955  62.95568515 103.49741722 109.20751489 175.64118426
 154.60296242  94.41704366 210.74209145 120.2566205   77.61585399
 187.93203995 206.49337474 140.63167076 105.59678023 130.70432536
 202.18534537 171.13039501 164.91423047 124.72472569 144.81030894
 181.99635452 199.41369642 234.21436188 145.95665512  79.86703276
 157.36941275 192.74412541 208.89814032 158.58722555 206.02195855
 107.47971675 140.93598906  54.82129332  55.92573195 115.01180018
  78.95584188  81.56087285  54.37997256 166.2543518 ]
287    219.0
211     70.0
72     202.0
321    230.0
73     111.0
       ...
255    153.0
90      98.0
57      37.0
391     63.0
24     184.0
Name: target, Length: 89, dtype: float64
2900.193628493482
0.45260276297191937

In [17]:
import pickle

with open('diabetes_prediction.pkl', 'wb') as f:
    pickle.dump(model, f)